
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --spacing: 0.2rem;


  /* dark shades of primary color*/
  --clr-primary-1: rgb(0, 37, 92);
  --clr-primary-2: #003e79;
  --clr-primary-3: rgb(0, 89, 153);
  --clr-primary-4: hsl(202, 100%, 36%);
  --clr-primary-5: #2892d7;
  /* lighter shades of primary color */
  --clr-primary-6: #6d94bc;
  --clr-primary-7: #5ba2bb;
  --clr-primary-8: rgb(199, 226, 222);
  --clr-primary-9: #e6f4f1;
  --clr-primary-10: #eefbff;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: #0b5780;
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: rgb(241, 245, 248);
  --clr-white-transparency-8: rgba(255, 255, 255, 0.8);
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 117rem;
  --fixed-width: 70rem;


}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-size: 100% 100%;
  background-attachment: fixed;
  line-height: 1.2;
  font-size: 1rem;
  margin-top: 0;
}

p { margin-bottom: .8rem;}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem; /* 4*16 = 64 */
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem; /* 1.75*16 = 28 */
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-3);
  color: var(--clr-primary-9);
  padding: 0.6rem .8rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: .9rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-3);
  background: var(--clr-primary-9);
}

/* Styles for secondary button */
.btn-secondary {
  background: none;
  border: var(--clr-primary-3) 2px solid;
  color: var(--clr-primary-3);
}

.btn-secondary:hover {
  background: var(--clr-primary-10);
  color: var(--clr-primary-4);
}

.center-btn {
  display: block;
  width: 16rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}


/* section */
.section {
  padding: 8rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 117rem;
}

.underline {
  width: 20%;
  height: 0.2rem;
  margin-bottom: 2rem;
  background: var(--clr-primary-8);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 6.4rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

/* page links */

/* social links */
.social-links {
  margin-top: 3.2rem;
  width: 24rem;
  display: flex;
  justify-content: space-between;
}

.social-link {
  font-size: 2.8rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-link:hover {
  color: var(--clr-primary-5);
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1.0rem;
}

code {
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  display: block;
}

blockquote {
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: 1.6rem 1.5em;
  font-style: italic;
  color: #555;
  position: relative;
}

blockquote::before {
  content: "\201C";
  font-size: 4em;
  font-family: Georgia, serif;
  color: #ccc;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote p {
  margin-bottom: 0;
  font-size: 1.1em;
  line-height: 1.6;
}

blockquote cite {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  color: #777;
  font-style: normal;
}

ol {
  list-style-type: decimal; /* Asegura que las listas numeradas se muestren con números */
  margin-left: 20px; /* Espaciado a la izquierda para resaltar la lista */
  padding-left: 20px; /* Asegura un padding adecuado dentro del elemento */
}

li {
  margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}

ol > li {
  list-style: decimal; /* Asegura que cada elemento li dentro de ol tenga números */
}

.markdown {
  a {
    color: blue;
    text-decoration: underline;
  }
}